# MySQL 설정
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=crawler

# 카카오 로그인 정보 (패스트캠퍼스 로그인용)
KAKAO_EMAIL=your_kakao_email@example.com
KAKAO_PASSWORD=your_kakao_password
